header {
  background-color: #353333;
  height: 55px;
  border : 1px solid black;
  color: white;
}
.site-header a{
  text-decoration: transparent;
  color: white
}
.site-header a:hover{
  text-decoration: transparent;
  color: #ffd034;
}

body,
html {
  height: 100%;
}
section {
  min-height: 600px;
  max-width: 100%;
}

.container {
  max-width: 1200px;
}
#section_about {
  background-color: #ffffff;
}
#section_ordering {
  background-color: #ffd034fa;
  min-height: 450px;
}

#section_worktype {
  background-color: #ffffff;
}

#section_why {
  background-color: #353333f1;
}

#section_why_2 {
  background-color: #ffffff;
}

#section_questions {
  background-color: #ffd034e5;
}

#section_reviews {
  background-color: #ffffff;
}

#section_offer {
  background-color: #353333f1;
}

.parallax {
  background-image: url("parallax.png");

  min-width: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
#first_parallax {
  padding-top: 700px;
}
#container_about {
  display: flex;
  justify-content: space-between;
}
.spiner_photo {
  display: inline-block;
  width: 48%;
  padding-top: 100px;
}
.text_about {
  display: inline-block;
  width: 48%;
  padding-top: 85px;
}
.text_about p {
  width: 65%;
}

.slider {
  max-width: 800px;
}

.slider__items {
  counter-reset: slide;
}

.slider__item {
  position: relative;
  counter-increment: slide;
}

.slider__item::after {
  content: counter(slide);
  position: absolute;
  top: 10px;
  right: 20px;
  color: #fff;
  font-style: italic;
  font-size: 32px;
  font-weight: bold;
  display: none;
}

.img-fluid {
  display: inline-block;
  height: auto;
  max-width: 100%;
}
.slider__indicators {
  display: inline-block;
}
#section_ordering .container {
  display: flex;
  justify-content: space-between;
}
.ordering_text {
  padding-top: 180px;
  display: inline-block;
  width: 48%;
  font-weight: bolder;
}
.ordering_form {
  padding-top: 180px;
  display: inline-block;
  width: 48%;
}
.ordering_form input {
  max-width: 380px;
  border-radius: 15px;
}
.ordering_form button {
  border-radius: 15px;
  width: 200px;
  background-color: #353333;
  border-color: #353333;
}
#section_worktype .container {
  padding-bottom: 50px;
}
.worktype_text {
  padding-top: 50px;
  padding-bottom: 50px;
}
.container_worktype_cards {
  display: flex;
  justify-content: space-around;
}
.card {
  display: inline-block;
}
.card a {
  background-color: #353333;
  border-color: #353333;
}
#section_why h1,
h2,
h4 {
  color: white;
}
#section_why .container_why {
  display: flex;
}
#section_why .video {
  display: inline-block;
}
#section_why .text {
  display: inline-block;
  padding-top: 40px;
  padding-left: 70px;
}
.container_why svg {
  display: inline-block;
}
.container_why h4 {
  display: inline-block;
  margin-left: 30px;
}
.why2{
  width: 100%;
  margin-top: 20px;
}
#section_why_2 .card-title{
  text-align: center
  
}
#section_questions .container_worktype_cards {
  padding-bottom: 50px;
}


#section_questions .card-title,svg{
  display: inline;
 
}
#section_questions .card-title{
  margin-left: 15px;
  font-weight:bold;
}

#section_questions .card{
  padding: 15px;
}

.card-title,h1{
  font-weight:bold;
}
#section_offer .container{
padding-top: 85px;

}
#section_offer .container_form {
  background-color: white;
  border: 5px solid #FFCE34;
  max-height: 480px;
  max-width: 750px;
  margin: 0 auto;
  padding: 5px 60px;
  border-radius: 20px;
}


#section_offer input {
  
  border-radius: 15px;
}
#section_offer button {
  border-radius: 15px;
  width: 200px;
 
}
#section_offer .worktype_text{
  text-align: center;
}


























@media only screen and (max-width: 480px) {
  #container_about {
    display: block;
  }
  .spiner_photo {
    display: block;
  }
  .text_about {
    display: block;
  }

  #section_ordering .container {
    display: block;
  }
  .ordering_text {
    display: block;
    padding-top: 50px;
  }
  .ordering_form {
    display: block;
    padding-top: 50px;
    padding-bottom: 20px;
  }

  #section_why .container_why {
    display: block;
  }
  #section_why .video {
    display: block;
  }
  #section_why .text {
    display: block;
  }

  .worktype_text {
    max-width: 300px;
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .container_worktype_cards {
    display: block;
  }
  .card {
    display: block;
  }



  #section_why .text {
    max-width: 350px;
    padding-left: 5px;
  }
  .container_why h4 {
    display: inline-block;
    margin-left: 8px;
    max-width: 250px;
  }



}
